@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400");

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

$roboto-regular: "Roboto", sans-serif;
$roboto-slab: "Roboto Slab", sans-serif;

$background-color: #ffffff;
$text-color-main: #18394d;
$text-color-brown: #753b15;
$button-color: #667a86;
$button-hover-color: #60a4cc;
$info-text-color: #4c5d64;
$line-color: #c7cac7;
$line-color2: #f0d8a1;


