@import "./_default_variables";

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hero-and-title-container {
  border: 3px solid red;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.photo-wrapper {
  height:150px;
}

.photo-wrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-title {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  color: $text-color-main;
  font-family: $roboto-slab;
  text-align: center;
}


.article-info {
  border: 3px solid blue;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;

  .author-name {
    font-family: $roboto-slab;
    color: $text-color-brown;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }

  .publication-details {
    font-family: $roboto-regular;
    font-size: 14px;
    color: $info-text-color;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }

  .genre-button {
    width: 102.5px;
    height: 24.5px;
    border-radius: 2px;
    border: solid 1px #ccd6dc;
    background-color: $button-color;
    font-family: $roboto-regular;
    color: $background-color;
    font-size: 12px;
  }
}

.text-content {
  border: 3px solid red;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 3;
  grid-row-end: 8;
  font-family: $roboto-regular;
  color: $text-color-main;
  padding-left: 15px;
  padding-right: 15px;

  .last-question-1 {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
  }

  .general-content {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
  }

  .multivac-background {
    font-family: $roboto-slab;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
  }
}